/* Author: Anna Geenko */

.container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#background {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    background-color: #B1B8D3;
    border-radius: 20px;
    box-shadow: 0 6px 10px;
}

#name {
    font-size: 35px;
    font-weight: bold;
    color: #101926;
    padding: 20px 50px;
    background-color: #B1B8D3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
}

.tab-button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background: #343434;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #101926;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
    margin: 30px;
    border: 1px solid #101926;
    border-radius: 20px;
}

#select-develop {
    font-size: 16px;
    color: #101926;
    margin: 20px;
}

/* Animation for the about-us section */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-us {
    display: none;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.about-us img {
    width: 180px;
    height: 190px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.about-us h1 {
    font-size: 30px;
    font-weight: bold;
    color: #101926;
    padding: 10px;
    background-color: #B1B8D3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.role {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.role p {
    font-size: 16px;
    padding: 5px;
    background-color: #101926;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.info-block p {
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #101926;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

/* Light theme */
#name.light,
#select-develop {
    color: #4A5568;
}

#background.light {
    box-shadow: 0 5px 10px #BAC1DD;
}

.tab-button.light {
    background: white;
    color: black;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.role p.light {
    background-color: #E1E8FF;
    color: black;
}

/* Media queries for mobile devices and tablets */
@media (max-width: 1024px) {
    .container-about {
        margin-top: 70px;
    }

    #background {
        width: 90%;
        height: 98%;
        flex-direction: column;
    }

    #name {
        font-size: 25px;
        padding: 10px 30px;
    }

    .tab-buttons {
        width: 100%;
        height: 30%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }

    .tab-button {
        width: 48%;
        font-size: 15px;
        padding: 10px;
        margin: 1%;
    }

    .section-container {
        width: 90%;
        height: 70%;
        margin: 25px;
        justify-content: center;
    }

    .about-us img {
        width: 150px;
        height: 160px;
        margin-top: 20px;
    }

    .about-us h1 {
        font-size: 25px;
    }

    .role p {
        font-size: 14px;
        margin-top: 2%;
    }

    .info-block p {
        font-size: 14px;
    }

}