// Author: Artem Nikulin, Anna Geenko

footer
    .footer-content
        .footer-info
            p Телефон: +380 (67) 192 50 34
            p Email: info@prologix.ua
            p
                | Адреса: магазин Click у ТРЦ Respublika Park,
                br
                | м. Київ, вул. Кільцева дорога, 1
        .footer-copyright
            p &copy; 2024 Prologix. All rights reserved.