extends base

main.about-brand
      #brand-slogan
        #slogan-images
          .column-img
            img.animate-up#top-img(src="./img/tv.jpeg", alt="TV")
            img.animate-up#bottom-img(src="./img/bottom_tv.jpeg", alt="TV")
          img.animate-up#center-img(src="./img/ssd.jpg", alt="SSD")
          .column-img
            img#info-logo(src="./img/logo-black.png", alt="Logo")
            p Cучасна комп'ютерна техніка за доступними цінами
            img.animate-up#right-img(src="./img/right_tv.jpg", alt="TV")

      #basic-info
        #top-text
          p
            strong Prologix 
            | - це компанія, що займається виробництвом передової комп'ютерної
            br
            | техніки, яка стала невід'ємною частиною повсякденного життя
            br
            | сучасної людини.

          p
            strong Основний фокус Prologix:
          br
          ul
            li
              p.rotate &#9881;
              | Технологічність
            li
              p.rotate &#9881;
              | Надійність
            li
              p.rotate &#9881;
              | Доступність
        #top-images
          img#tv1(src="./img/tv1.png", alt="TV")
          img#tv2(src="./img/tv2.png", alt="TV")

      #range-info
        img(src="./img/laptop-info.png", alt="Laptop", class="zoom-image")
        p
          strong Продуктовий асортимент Prologix 
          | налічує широкий спектр товарів.
          br
          | Кожен продукт проходить строгий контроль якості, щоб забезпечити
          br
          | бездоганну роботу і задоволення користувачів.

      #aim-info
        #bottom-images
          img#left-blocks(src="./img/left-blocks.png", alt="TV")
          img#right-blocks(src="./img/right-blocks.png", alt="TV")
          img#computers(src="./img/computers.png", alt="Computers")
        p
          | Незалежно від того, чи ви є індивідуальним користувачем, бізнесом чи
          br
          | корпорацією, Prologix має рішення, що відповідає вашим потребам.
          br
          | Компанія працює з партнерами та клієнтами по всьому світу, надаючи їм
          br
          | найкращі продукти, послуги та технологічні рішення, які допомагають їм
          br
          | досягати своїх цілей та успіху. Prologix - це не просто бренд, це стиль життя,
          br
          | який відображає віру в потужність технологій та їхній вплив на наше життя.
      button#scroll-to-top._icon-arrow-circle-up
script(src="./js/switch_and_button.js")