header
    a.logo(href="/")
        img(src="/img/logo.png" alt="Logo" width="260px" height="65px")
    nav
        ul
            li
                a(href="/") Головна
            li
                a(href="/about") Про нас
            li
                a(href="/components") Компоненти
            li
                a(href="/info") Інформація
    .icons
        label.switch
            input(type="checkbox")
            span.move
        a(href="#" class="_icon-heart nav-icons")
        a(href="#" class="_icon-balance-scale nav-icons")
        a(href="#" class="_icon-list" id="mobile-menu-icon")
        a(href="/login" class="_icon-sign-in-alt")
        a(href="profile" class="_icon-profile")
    #mobile-menu.mobile-menu
        ul
            li
                a(href="/")
                    span._icon-home
                    |  Головна
            li
                a(href="/about")
                    span._icon-users
                    |  Про нас
            li
                a(href="/components")
                    span._icon-seedling
                    |  Компоненти
            li
                a(href="/info")
                    span._icon-exclamation-circle
                    |  Інформація
