extends base

block content
    main
        #content
            #registration-authorization
                form#authorization-form
                    h2 Авторизація
                    input(type="text", name="login", placeholder="Логін", required)
                    input(type="password", id="password", name="password", placeholder="Введіть пароль", required)
                    #error-field
                    button(type="submit") Війти
                    a Все ще нема акаунту?
                    a#transition(href="/registration") Зареєструватися
        button#scroll-to-top._icon-arrow-circle-up
    script(src="/js/authorization.js")
