doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        link(rel="icon" href="/img/logo-icon-2.png")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/iconsFont.css")
        link(rel="stylesheet" href="/css/about.css")
        title Prologix | #{title}

    body
        include _header

        block content

        include _footer

        script(src="/js/script.js")