extends base

block content
  main
    #technologies
        .technology-direction
            h2 FrontEnd
            .images-row
                img(src="/img/html-logo.png", alt="1")
                img(src="/img/css-logo.png", alt="1")
                img(src="/img/JavaScript-Logo.png", alt="1")
        #back-end-div.technology-direction
            h2 BackEnd
            .images-row
                img(src="/img/nodejs-logo.png", alt="1")
                img(src="/img/docker-logo.png", alt="1")
                img(src="/img/postgresql-logo.png", alt="1")
    button#scroll-to-top._icon-arrow-circle-up
  script(src="/js/script.js")
  script(src="/js/switch_and_button.js")